body {
    margin-top: 3px; 
    font-family: georgia, serif, "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-variant: small-caps;
}

.title1 {
    margin-top: 200px; 
    font-size: 60px;
	color: black;
    text-shadow: 3px 3px 1px white, 3px 3px 1px white;	
}

i{
	text-shadow: 1px 1px 5px blue;
}

.hr1{
	width: 300px;
}

.section1{
	background-image: url("https://78.media.tumblr.com/36b428d7957b06d612e092d431582154/tumblr_oxx096UzTv1wed1zeo6_1280.jpg");
	background-attachment: fixed;
	/*background-size: cover;
	background-repeat: no-repeat;*/
	}

.list-inline {
    margin-top: 200px;
    font-size: 20px;
    color: blue;
  }
  
.social-list-col {
    height: auto;
}

.sociallist{
    padding-bottom: 15px;	
}

.subheading{
	font-size: 30px;
	padding-bottom: 10em;
	color: black;
	text-shadow: 1px 1px 1px white, 1px 1px 1px white;
}

.divider1{
	color: blue;
}

.section2{
	background-color: #1a1a1a;
	padding: 50px;
	height: auto;
}

.project{
	display: block;
	margin: auto;
	height: 12em;
	width: 18em;
	border-radius: 15px 50px;
	box-shadow: 12px 12px 10px black;
}

.projectsubtext{
	color: white;
	font-size: 22px;	
}

.projectsubsubtext{
	color: white;
	font-size: 18px;
}

.h3-1{
	font-size: 24px;
	text-align: center;
	color: #ffffff;
}

.section3{
	padding: 50px;
	background-image: url("https://static.pexels.com/photos/34676/pexels-photo.jpg");
	background-attachment: fixed;
}

.bio{
	text-align: center;
	color: white;
	font-size: 46px;
	text-shadow: 2px 2px 2px black;
	padding: 0 !important;
}

.biosubhead{
	text-align: center;
	color: white;
	font-size: 28px;
	text-shadow: 2px 2px 2px black;
	padding: 0 !important;
}

.biolist{
	text-align: center;
	padding: 0 !important;
}

.biolist2{
	display: block;
	margin: auto;
	padding-bottom: 12px;
	padding-left: 0 !important;
	color: white;
	font-size: 24px;
	text-shadow: 1px 2px 1px black;
}

.section3left{
	
}

.leftlogo{
	display: block;
	height: 150px;
	width: 150px;
	margin: auto;
	padding: 1px;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(10px 10px 2px #222);
}

.rightlogo{
	display: block;
	height: 150px;
	width: 150px;
	margin: auto;
	padding: 1px;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(10px 10px 2px #222);
}

.section4{
	background-color: gray;
	padding-bottom: 50px;
}

.contact1{
    color: white;
	text-shadow: 3px 3px 3px black;
    text-align: center;	
}

.contact2{
	color: white;
	text-shadow: 3px 3px 3px black;
	text-align: center;
	font-size: 20px;
}

.hr2{
	width: 250px;
}

